.main-bg {
    background: url('/assets/img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg{
    background: var(--white-color);
}

.main-content{
    max-width: 102.4rem;
    margin: 0 auto;
    padding: var(--gap) ;
}

.section{
    min-height: 100vh;
    padding: 10rem 0;
}
.section div{
    margin-bottom: 2rem;
}

.button{
    color: white;
    margin: 2rem 1rem;
    background: var(--color-3);
    border: 0;
    padding: 2rem;
    border-radius: 50rem;
    font-size: 20px;
    letter-spacing: 0.2rem;
  }

.button:hover {
    transition: all 0.5s linear;
    background-color: var(--color-2);
    cursor: pointer;

}