@media (max-width: 720px) {

    body {
        width: fit-content;
    }

    .menu,
    .menu a {
        background: var(--white-color);
        color: var(--color-1);
        bottom: 0;
        text-align: center;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
        z-index: 2;
    }

    .page-top {
        padding: 0;
        z-index: 1;
    }

    .section div {
        margin: 0;
    }






    .main-content {
        min-width: 30rem;
        margin: auto auto;
    }

    .sobre-content {
        flex-direction: column;
    }

    .sobre-content-direita a img {
        min-height: 0%;
        min-width: 0%;
        width: 50%;
    }

    .downloads-content-img img {
        height: 20%;
        width: 20%;
    }


    /* Menu tres linhas */
    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;

        top: 2rem;
        right: 2rem;

        text-align: center;
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;

        color: var(--white-color);
        background: rgba(0, 0, 0, 0.5);
        padding: 0.2rem;
        border-radius: 10%;

        cursor: pointer;
    }

    /* ╳ */
    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '╳';
        text-align: center;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        color: var(--white-color);

    }

    .midia-content-photos{
        grid-template-columns: 1fr 1fr;
    }

    /* --------------- */

    /*Elements*/
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.6rem;
    }

    h3 {
        font-size: 3.4rem;
    }

    h4 {
        font-size: 3.2rem;
    }

    h5 {
        font-size: 3rem;
    }

    h6 {
        font-size: 2.8rem;
    }

}