.menu{
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: thick double white;    
    text-transform: uppercase;
}

.menu-content {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: var(--menu-padding);
    
}

.menu a {
    color: white;
    text-decoration: none;
    
}

.menu div span a img {
    height: var(--size-logo);
    font-size: var(--size-logo);
    font-weight: bolder;
    padding: 1rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 50% inherit;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    gap: var(--gap);
   
}

.menu ul li a{
    display: block;
    padding: 0.5rem;
    font-size: 1.5rem;
    position: relative;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 0.2rem;
    left: 25%;
    width: 0;
    height: 0.2rem;
    background: var(--white-color);
    transition: all 200ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 100%;
    left: 0%;
    
}

.menu ul li a:hover{
    transition: all 100ms ease-in-out;
    color: var(--color-2);
    background-image: linear-gradient(white 90%,gray);
    font-size: larger;
}

.menu-spacing{
    width: 100%;
    height: var(--menu-spacing);
}