*{
    margin: 0;
    padding: 0;
}



body{
    color: white;
    background: url(https://media.prod.mdn.mozit.cloud/attachments/2012/07/09/3466/a3398e03c058d99fb2b7837167cdbc26/no-dimensions-1x1-ratio.svg);
}