.close-menu{
    display: none;
}

/* SEÇÃO PAGE TOP*/
.page-top{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    background-image: linear-gradient(var(--color-4) 5%, var(--white-color) 80%, var(--color-4));
}
/*--------------*/

/* SEÇÃO SOBRE*/
.sobre-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: var(--gap);
}

.sobre-content-esquerda {
    display: grid;
    gap: var(--gap);
}

.sobre-content-direita {
    text-align: center;
}

.sobre-content-direita a img{
    height: auto ; 
    width: 50vw;
    max-width: 100%;
    min-height: 25rem;
    min-width: 25rem;
}

.sobre-content-baixo{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
/*--------------*/

/* SEÇÃO DOWNLOADS */

.downloads-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.downloads-content-img{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
.downloads-content-img img{
    height: 20rem;
    width: 20rem;
}
/*--------------*/

/* SEÇÃO MIDIA */
.midia-content{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.midia-content h2{
    border-bottom: solid 0.1rem;
    border-bottom-width: 10%;
    margin-bottom: 5rem;
}

.midia-content h5{
    margin-bottom: 2rem;
}

/* .midia-content-photos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 10rem;
} */
.midia-content-photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap);
}


.midia-img-desc{
    display: grid;
}
.midia-img-desc a img{
    height: 20rem;
    width: 20rem;
    margin-bottom: 0;
}
.midia-img-desc h6{
    
    display: block;
    margin-top: 0;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    background: var(--color-6);
}

/*--------------*/

/* SEÇÃO FOOTER */
.footer-content{
    background: var(--color-6);
    color: var(--white-color);
    padding: 2rem;
    text-align: center;
}

.footer-content a{
    color: var(--color-3);
    font-family: 'Fasthand', cursive;
    text-decoration: none;
}

.footer-content a:hover{
    transition: all 100ms ease-in-out;
    color: var(--color-1);
    cursor: pointer;
    font-size:larger;
}

/*--------------*/

/* Botão Back to Top */
.back-to-top {
    text-decoration: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: #000000DD;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
    font-size: 3rem;
    text-align: center;
    transform: rotate(0deg);
    z-index: 1;
    color: var(--white-color);
    border: 0.1rem solid white;
}

.back-to-top::after{
    content: '⇧';
}
/*--------------*/